<!-- subscription.html -->
{% extends 'accounts/home.html' %}

{% block title %}Subscription Confirmation{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4 mb-4" style="padding-top: 2.0rem;">Subscription Confirmed!</h1>
            <p class="lead">Thank you for subscribing to FarmFresh! You will receive updates and promotions in your inbox.</p>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-success btn-sm mb-5 custom-btn">Home</a>
        </div>
    </div>
</div>

{% endblock %}
