
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>

<form class="table-bordered custom-border" style="padding-top: 2.0rem;">
    

    <div class="container bg">

        <br>

        <div id="printArea" class="bg">

            <table class="table outer-box inner-box mx-auto">
                <tbody>

                    <tr>
                        <td class="text-center">
                            <p style="font-size: 3.0rem;">PURCHASE INVOICE</p>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <span style="font-size: 2.5rem;">FarmFresh</span> <br>
                            <span style="font-size: 1.2rem; font-weight: bold;">DEALERS IN: Produce</span> <br>
                            <span style="font-weight: bold;">REGD ADDRESS:</span> 69 Kingsway Ave<br>Auckland Park GP 2092<br>
                            <span style="font-weight: bold;">EMAIL: farmfresh@gmail.com</span> <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                    </tr>
                  
                    
                    <tr>
                        <td>
                            <table class="table outer-box mx-auto">
                                <tbody>
                                    <tr>
                                        <td class="inner-box text-center font-weight-bold" colspan="3">INVOICE DETAILS</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box font-weight-bold" style="width: 50%;">CUSTOMER DETAILS</td>
                                        <td class="inner-box font-weight-bold" style="width: 25%;">INVOICE NO</td>
                                        <td class="inner-box" style="width: 25%;">{{ invoice_number }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">{{ billing_name }}</td>
                                        <td class="inner-box font-weight-bold" style="width: 25%;">DATE</td>
                                        <td class="inner-box" style="width: 25%;">{{ date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;" rowspan="2">{{ billing_address }}</td>
                                        <td class="inner-box font-weight-bold" style="width: 25%;">PAYMENT STATUS</td>
                                        <td class="inner-box align-middle" style="width: 25%;">
                                            {{ payment_status }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box font-weight-bold" style="width: 25%;">PAYMENT METHOD</td>
                                        <td class="inner-box align-middle" style="width: 25%;">
                                            {{ payment_method }}
                                        </td>
                                    </tr>
                                
                                    <tr>
                                        <td class="inner-box font-weight-bold">{{ billing_email }}</td>
                                        <td class="inner-box font-weight-bold" style="width: 25%;">DUE DATE:</td>
                                        <td class="inner-box align-middle" style="width: 25%;">
                                            {{ due_date }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    
            
                    <tr>
                        <td>
                            <table class="table outer-box mx-auto">
                                <tbody>
                                    <tr>
                                        <td class="inner-box text-center font-weight-bold" colspan="3"></td>
                                    </tr>

                                    <tr>
                                        <td class="inner-box text-center font-weight-bold" colspan="3"><strong>ORDER DETAILS</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box text-center font-weight-bold" colspan="3">ORDER ID: {{ order_id }}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="inner-box text-center font-weight-bold" colspan="3">TOTAL ORDER QUANTITY: {{ total_quantities }}</td>
                                    </tr>

                                    <tr>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">No</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">ITEM</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QUANTITY</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">COST PER ITEM</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">AMOUNT</td>
                                    </tr>
                                    {% for item in order_items %}
                                    <tr>
                                        <td class="inner-box" style="width: 12%; text-align: center;">{{item.No}}</td>
                                        <td class="inner-box" style="width: 12%; text-align: center;">{{ item.item }}</td>
                                        <td class="inner-box" style="width: 12%; text-align: center;">{{ item.item_quantity }}</td>
                                        <td class="inner-box" style="width: 12%; text-align: center;">R{{ item.item_cost }}</td>
                                        <td class="inner-box" style="width: 12%; text-align: center;">R{{ item.price }}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="inner-box font-weight-bold" style="width: 12%; text-align: center;" colspan="4"><strong>TOTAL</strong></td>
                                        <td class="inner-box align-middle" style="width: 12%; text-align: center;"><strong>{{ total_amount }}</strong>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box font-weight-bold" style="width: 12%; text-align: center;" colspan="5" ></td>
                                    </tr>
                                        
                                        <tr>
                                            <td class="i font-weight-bold" style="width: 12%;"></td>
                                            
                                        </tr>
                                        
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    
                   
                    <tr>
                        <td>
                            <table class="table outer-box inner-box mx-auto">
                                <tbody>
                                    
                                    <tr>
                                           <td class="inner-box" style="width: 35%; text-align: center;" ></td>
                                                <p>
                                                    <span style="font-weight: bold;">BANK DETAILS <br> FarmFresh</span> <br>
                                                    Discovery Bank <br> AC NO-54A7 6S31 4T85 0RO3 <br> IFSC CODE - ABCD 010 0110 <br> CS BRANCH <br> PH NO - 011-456-7890
                                                </p>
                                            </td> 
                                    </tr>
                                </tbody>
                                              
                            </table>
                        </td>
                    </tr>
                    
                    <br><br><br>
                    <tr>
                        <td class="text-right">
                            <span style="font-weight: bold;">FOR COMPANY <br><br><br><br> Signature</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-center">
                            <!-- FINAL TEXT -->
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>

</form>
</body>
</html>

