{% extends "users/base.html" %}
{% load static %}
{% block title %} Password Reset {% endblock title%}
{% block content %}

<style>
    body {
        background-image: url('{% static 'images/vegetables-from-basket-wooden-table.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .content-wrapper {
        flex-grow: 1;
    }
</style>
    

<div class="content-wrapper">
    
    {% if messages %}
    <div class="row mt-3">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="col-md-10 col-12 mx-auto alert alert-danger">
                    {{ message }}
                </div>
            {% else %}
                <div class="col-md-10 col-12 mx-auto alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="form-content my-3 p-3">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1">New Password</label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control" required id="id_new_password1"
                                                       placeholder="Enter password"/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirm password"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        // Function to hide messages after a delay
        function hideMessages() {
            var messagesElements = document.querySelectorAll('.alert');
            if (messagesElements) {
                setTimeout(function() {
                    messagesElements.forEach(function(element) {
                        element.style.display = 'none';
                    });
                }, 3000);  // 5000 milliseconds (5 seconds)
            }
        }

        // Call the function when the page loads
        window.onload = hideMessages;
    </script>

</div>
{% endblock content %}
